.collapseItem {
    .fullHeight {
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;

        .wrap {
            @apply pt-[5px];
        }
    }

    &.faq .full-height .wrap {
        display: flex;
    }
}
