.calendar-list {
    min-width: 300px;
    transition: all 0.3s;
    &.full-size {
        .fc-toolbar {
            display: none !important;
        }
        .fc-list-table {
            margin-top: 0 !important;
        }
    }
    tbody {
        justify-content: flex-end;
        margin-left: -12%;
        background-color: theme("colors.background");

        .full-size {
            background-color: theme("colors.backgroundVariant1500");
        }

        & .fc-list-day {
            min-width: 60px;
            @apply tiny:min-w-[40px] tiny:-ml-[10%];
        }
        .event-highlight,
        .event-hover-highlight {
            background-color: theme("colors.backgroundVariant200");
            a {
                text-decoration: none !important;
            }
        }
    }
    tr:nth-child(1) {
        border-top: 0 !important;
    }
    tr:nth-child(2) {
        .fc-list-event-time {
            border-top: 0 !important;
        }
    }
    .fc-list-event-desc {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box !important;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
    .fc-scroller-liquid {
        overflow: visible !important;
    }
    .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr
        > div:nth-child(2)
        > div:nth-child(2) {
        display: flex;
        height: 20px;
        align-items: center;
        margin: 0;
    }

    .fc {
        height: 100%;
        .fc {
            &-toolbar {
                &.fc-header-toolbar {
                    display: flex;
                    height: 42px;
                    border-bottom: none;
                    margin-bottom: 0 !important;
                    justify-content: flex-end;
                    padding: 10px;
                    button,
                    button:focus {
                        box-shadow: none;
                    }

                    position: fixed;
                    background-color: theme("colors.background");
                    z-index: 1;
                    width: calc(100% - 2px);

                    @apply single-col:justify-between two-col:p-[0_15px];
                }
                .fc {
                    &:first-child {
                        display: flex;
                        align-items: center;
                    }
                    &-toolbar-chunk {
                        &:first-child {
                            display: flex;
                            align-items: center;
                        }
                        &:nth-child(2) {
                            display: flex;
                            align-items: center;
                            margin-left: 120px;

                            @apply two-col:ml-[105px];
                            .fc-toolbar-title {
                                color: theme("colors.primary");
                                cursor: default;
                                width: 105px;
                                text-align: center;
                                @apply fontGroup-highlightSemi;
                            }
                            .fc-next-button {
                                display: inline-block;
                                border: none;
                                background: transparent;
                                display: flex;
                            }
                        }
                    }
                    &-button-group {
                        display: flex;
                        height: 18px;

                        button:first-child {
                            border: none;
                            background: transparent;
                            height: 20px;
                            display: flex;
                        }
                        button:nth-child(2) {
                            display: none;
                        }
                        button:last-child {
                            border-top-right-radius: theme("borderRadius.full");
                            border-bottom-right-radius: theme(
                                "borderRadius.full"
                            );
                        }
                    }
                    &-prev-button,
                    &-next-button {
                        padding: 0;
                        justify-content: center;
                        display: flex;
                        span {
                            margin: 0;
                        }
                    }
                    &-today-button {
                        width: auto !important;
                        height: auto !important;
                        border-radius: 10px;
                        padding: 4px 10px !important;
                        border: none;
                        color: theme("colors.primary") !important;
                        display: none;
                        cursor: pointer;
                        text-transform: capitalize;
                        background-color: theme(
                            "colors.btnBackgroundVariant300"
                        );
                        background-clip: padding-box;
                        .fc-daygrid-day-frame {
                            border: 1px solid theme("colors.background");
                        }

                        /* identical to box height, or 183% */
                        letter-spacing: 0.2px;
                        @apply single-col:block fontGroup-normal;
                        &:disabled {
                            background-color: theme(
                                "colors.btnBackgroundVariant300"
                            );
                            opacity: 0.4;
                            cursor: default;
                        }
                    }
                }
            }
            &-view {
                th,
                td {
                    border-color: theme("colors.borderLine");
                }
            }
            &-scrollgrid {
                &-section-header {
                    .fc-scroller {
                        overflow-y: visible !important;
                    }
                }
                table {
                    width: 100% !important;
                }
            }

            &-daygrid {
                &-body {
                    border-left-width: 0;
                    width: 100% !important;
                }
                &-day {
                    &-events {
                        min-height: 1.7em;
                    }
                }
                &-event {
                    border-width: 0;
                    border-top-width: 5px;
                    border-radius: 0;
                    // ${device.small} {
                    //     border-top-width: 0;
                    //     border-left-width: 2px;
                    //     padding: 1px 4px;
                    // }
                }
            }
            &-list {
                border: none;
                .fc {
                    &-list {
                        &-table {
                            border-collapse: separate;
                            // margin-top: ${({ $isFullSize: isFullSize }) =>
                            //     isFullSize
                            //         ? ""
                            //         : "50px"}; // for absolutely positioned header
                            margin-top: 50px;
                            padding: 0px 3px 0 13px;
                            display: block;
                            & > tbody {
                                display: flex;
                                flex-wrap: wrap;
                            }
                        }
                        &-day {
                            flex: 0 0 20%;
                            max-width: 20%;
                            padding-top: -0.75px;
                            border-top: 1.5px solid
                                theme("colors.backgroundVariant200");
                            display: flex;
                            justify-content: flex-start;
                            padding-left: 6px;

                            @apply flex-[0_0_15%] tiny:max-w-[40px] max-w-[15%] two-col:flex-[0_0_12%] two-col:max-w-[12%] three-col:flex-[0_0_10%] three-col:max-w-[10%];
                            &:first-of-type {
                                margin-top: 0;
                                & + .fc-list-event {
                                    margin-top: 0;
                                }
                            }
                            & > th {
                                border: none;
                                background-color: transparent;
                                display: flex;
                                width: 40px;
                                justify-content: center;
                            }
                            .fc-list-day {
                                &-cushion {
                                    background-color: transparent;
                                    border-width: 0;
                                    padding: 0;
                                }
                                &-text {
                                    display: block;
                                    text-transform: uppercase;
                                    color: theme(
                                        "colors.primaryVariant100"
                                    ) !important;
                                    padding: 0px;
                                    margin-top: 11.75px;
                                    cursor: default !important;
                                    text-align: center;

                                    @apply fontGroup-support;

                                    &:hover {
                                        text-decoration: none;
                                    }
                                    &.now {
                                        color: theme(
                                            "colors.primaryVariant700"
                                        );
                                        span {
                                            color: theme(
                                                "colors.primaryVariant700"
                                            );
                                        }
                                    }
                                    span {
                                        display: block;
                                        color: theme("colors.primary");
                                        text-align: center;
                                        letter-spacing: -0.5px;
                                        @apply fontGroup-major;
                                    }
                                }
                            }
                        }
                        &-event {
                            display: flex;
                            flex-direction: column;
                            flex: 0 0 calc(90% - 60px);
                            max-width: calc(90% - 60px);
                            cursor: pointer;
                            @apply tiny:flex-[0_0_calc(100%_-_50px)] tiny:max-w-[calc(100%_-_79px)];

                            &:hover {
                                background-color: theme(
                                    "colors.backgroundVariant200"
                                );
                                td {
                                    background-color: theme(
                                        "colors.backgroundVariant200"
                                    );
                                }
                                a {
                                    text-decoration: none !important;
                                }
                            }

                            @apply flex-[0_0_calc(85%_-_60px)] max-w-[calc(85%_-_60px)] two-col:flex-[0_0_calc(88%_-_60px)] two-col:max-w-[calc(88%_-_60px)] three-col:flex-[0_0_calc(90%_-_60px)] three-col:max-w-[calc(90%_-_60px)];
                            & + .fc-list-event {
                                margin-left: 10%;
                                flex: 0 0 100%;
                                max-width: 90%;
                                padding-left: 60px;
                                @apply tiny:ml-[15%] ml-[12%] two-col:ml-[20%];
                            }
                            // &:first-child {
                            // }
                            & > td {
                                border-width: 0;
                            }
                            .fc-list-event {
                                &-graphic {
                                    display: none;
                                    padding: 0;
                                    background-color: transparent;
                                    span {
                                        border: calc(7px / 2) solid;
                                        border-radius: 5px;
                                        border-radius: calc(7px / 2);
                                    }
                                }
                                &-time {
                                    padding: 12px 0px 2px;
                                    width: 100%;
                                    color: theme("colors.primaryVariant100");
                                    border-top: 1.5px solid
                                        theme("colors.backgroundVariant200");
                                }
                                box-sizing: border-box;
                                border-bottom: none;
                                text-transform: capitalize;
                                @apply fontGroup-support;
                            }
                            &-title {
                                padding: 0px 0 15px 0px;
                                border-bottom: 1px solid
                                    theme("colors.borderLine");
                                box-sizing: border-box;
                                border: none;
                                a {
                                    display: block;
                                    margin-bottom: 2px;
                                    color: theme("colors.primary");
                                    @apply fontGroup-highlight;
                                }
                            }
                        }
                    }
                }
                &-empty {
                    height: auto;
                    background-color: transparent;
                    justify-content: flex-start;
                    width: 100%;
                    height: 604px;
                    margin: 0;
                    justify-content: center;
                    align-items: center;
                    &-cushion {
                        align-self: center !important;
                    }
                    &-cushion {
                        margin: 20px;
                        color: theme("colors.primaryVariant100");
                        @apply fontGroup-highlightSemi;
                    }
                }
            }
        }
    }
}

.calendar-month {
    background: theme("colors.background");
    position: relative;
    display: block;
    transition: all 0.3s;

    .full-size {
        background-color: theme("colors.background");
    }

    .fc-daygrid-day-events {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .fc-daygrid-day-events * {
        pointer-events: none;
    }

    .dot-event {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        display: inline-block;
        margin-left: 10px;
        vertical-align: text-bottom;
    }

    .fc-event-title-container {
        height: 2px;
        width: 2px;
        cursor: pointer;

        .fc-event-title {
            display: none !important;
        }
    }
    .fc-direction-ltr .fc-daygrid-event.fc-event-start,
    .fc-direction-rtl .fc-daygrid-event.fc-event-end {
        margin-right: 2.5px;
        margin-left: 2.5px;
    }
    .fc-event-time {
        display: none;
    }
    .fc-daygrid-day-number {
        cursor: default;
    }
    .fc-event-main-frame {
        overflow: hidden;
    }
    .fc .fc-timegrid-slot-label {
        height: 5px;
    }
    .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr
        > div:nth-child(2)
        > div:nth-child(2) {
        display: flex;
        height: 20px;
        align-items: center;
        margin: 0;
        cursor: pointer;
    }
    .fc-button .fc-icon {
        width: 18px !important;
        height: 18px !important;
        color: theme("colors.primary");
    }
    .fc-scrollgrid-section.fc-scrollgrid-section-body > td {
        border-bottom: none !important;
    }
    .fc-scrollgrid-section.fc-scrollgrid-section-header > th {
        border: none !important;
    }
    .fc {
        height: 100%;
        .fc {
            &-toolbar {
                &.fc-header-toolbar {
                    height: 42px;
                    margin-bottom: 0 !important;
                    display: flex;
                    justify-content: flex-end;
                    padding: 0 10px;
                    @apply single-col:justify-between two-col:p-[0_15px];
                }
                button {
                    height: 32px;
                    background-color: theme("colors.backgroundVariant100");
                    background-image: none;
                    border: 1px solid theme("colors.borderLine");
                    color: theme("colors.primary") !important;
                    box-shadow: none;
                    padding: 0 15px;
                    display: flex;
                    align-items: center;
                    text-transform: capitalize;
                    outline: none;
                    text-shadow: none;
                    border-radius: 0;
                    transition: all 0.2s ease-in-out;
                    &:hover,
                    &:focus {
                        background-color: theme("colors.backgroundVariant200");
                        position: relative;
                        z-index: 5;
                    }
                    &:not(:disabled) {
                        &.fc-button-active {
                            border: 1px solid theme("colors.borderLine");
                        }
                    }
                }
                .fc {
                    &-toolbar-chunk {
                        &:first-child {
                            display: flex;
                            align-items: center;
                        }
                        &:nth-child(2) {
                            display: flex;
                            align-items: center;
                            margin-left: 120px;

                            @apply two-col:ml-[105px];
                            .fc-next-button {
                                display: inline-block;
                                border: none;
                                background: transparent;
                                display: flex;
                            }
                        }
                        &:last-child {
                            button {
                                width: max-content;
                                height: 32px;
                                position: relative;
                                color: transparent;

                                &.fc-dayGridMonth-button {
                                    width: 60px;
                                }
                                &.fc-timeGridWeek-button {
                                    width: 60px;
                                }
                            }
                        }
                    }
                    &-button-group {
                        display: flex;
                        height: 18px;

                        button:first-child {
                            border: none;
                            background: transparent;
                            height: 20px;
                        }
                        button:nth-child(2) {
                            display: none;
                        }
                        button:last-child {
                            border-top-right-radius: 4px;
                            border-bottom-right-radius: 4px;
                        }
                    }
                    &-prev-button,
                    &-next-button {
                        padding: 0;
                        justify-content: center;
                        display: flex;
                        span {
                            margin: 0;
                        }
                    }
                    &-icon-left-single-arrow,
                    &-icon-right-single-arrow {
                        top: 0;
                    }
                    &-today-button {
                        width: auto !important;
                        height: auto !important;
                        border-radius: 10px;
                        padding: 4px 10px !important;
                        border: none !important;
                        color: theme("colors.primary") !important;
                        display: none;
                        cursor: pointer;
                        @apply fontGroup-normal single-col:block;

                        &:disabled {
                            background-color: theme(
                                "colors.backgroundVariant100"
                            );
                            opacity: 0.4;
                            cursor: default;
                        }
                    }
                    &-toolbar-title {
                        color: theme("colors.primary");
                        cursor: default;
                        width: 105px;
                        text-align: center;
                        @apply fontGroup-highlightSemi;
                    }
                }
            }
            &-view-harness {
                height: 100% !important;
            }
            &-view {
                th,
                td {
                    border: 1px solid theme("colors.borderLine");
                }
            }
            &-view:first-child {
                .fc-scrollgrid-section td:first-child {
                    border-left: none;
                    border-right: none;
                }
            }
            &-scrollgrid {
                border: 0;
                &-section-header {
                    .fc-scroller {
                        -ms-overflow-style: none; /* Internet Explorer 10+ */
                        scrollbar-width: none; /* Firefox */
                        overflow-y: visible !important;
                        height: auto !important;
                    }
                    .fc-scroller ::-webkit-scrollbar {
                        display: none; /* Safari and Chrome */
                    }

                    td {
                        border: 0 !important;
                    }
                }
                table {
                    width: 100% !important;
                }
            }
            &-col {
                &-header-cell {
                    padding: 9px 0 5px;
                    border-color: theme("colors.borderLine");
                    border: 0px !important;
                    color: theme("colors.primaryVariant100");
                    @apply fontGroup-support;

                    &-cushion {
                        padding: 0;
                        color: theme("colors.primaryVariant100");
                    }
                }
            }
            &-daygrid {
                margin: 0 8px;

                &-body {
                    border-left-width: 0;
                    width: 100% !important;
                }
                &-day {
                    position: relative;
                    &.fc-day {
                        &-today {
                            background-color: theme("colors.primaryVariant300");
                            background-clip: padding-box;
                            border-color: theme("colors.primaryVariant600");
                            .fc-daygrid-day-frame {
                                border: 1px solid theme("colors.background");
                            }
                        }
                        &-other {
                            opacity: 0;
                        }
                        &-today {
                            .fc-daygrid-day-number {
                                color: theme("colors.white");
                                border-radius: 2px;
                            }
                        }
                        &:hover {
                            .fc-daygrid-day-frame {
                                cursor: pointer;
                                background-color: theme(
                                    "colors.primaryVariant300"
                                );
                            }
                        }
                        &.fc-day-past {
                            .fc-daygrid-day-number {
                                opacity: 30%;
                            }
                            .fc-daygrid-day-events {
                                opacity: 30%;
                            }
                        }
                        &.fc-day-sat {
                            .fc-daygrid-day-number {
                                color: theme("colors.secondaryRoseBrown");
                            }
                        }
                        &.fc-day-sun {
                            .fc-daygrid-day-number {
                                color: theme("colors.secondaryRoseBrown");
                            }
                        }
                    }
                    &-number {
                        color: theme("colors.primaryVariant100");
                        display: inline-block;
                        padding: 4px 5px;
                        position: relative;
                        transition: all 0.2s ease-in-out;
                        margin: 2px 2px 0 0;
                        text-align: center;
                        &:hover,
                        &:focus {
                            background-color: transparent;
                            text-decoration: none;
                        }
                        @apply fontGroup-normal;
                    }
                    &-events {
                        min-height: 1.7em;
                        display: flex;
                        flex-wrap: wrap;
                    }
                    &-harness {
                        cursor: pointer;
                        display: none;
                    }
                }
                &-event {
                    width: 8px;
                    height: 8px;
                    border-width: 0;
                    border-radius: 4px;
                    border: 0;
                    .fc-event {
                        &-main {
                            color: theme("colors.primary");
                            display: block;
                        }
                        &-time {
                            overflow: visible;
                        }
                        &-desc {
                            display: none;
                        }
                    }
                    &-harness {
                        display: none;
                    }
                }
            }
        }
    }
}
