// Styles to override default chart styles

.market-widget {
    .zoom-reset {
        position: absolute;
        bottom: 35px;
        right: 10px;
        border-radius: 8px;
        padding: 6px;
        width: 32px;
        height: 26px;
        cursor: pointer;
        @apply stroke-primary bg-backgroundBlue;
    }
    .apexcharts-tooltip {
        background-color: transparent !important;
        border: none !important;

        .apexcharts-tooltip-title {
            @apply text-backgroundVariant400;
        }

        .apexcharts-tooltip-text {
            @apply text-backgroundVariant400;
        }

        @apply ring-[0.5px] ring-borderLine;
    }

    .candlestick-chart {
        margin-top: -12px;
        .apexcharts-grid-borders {
            line {
                @apply stroke-1 stroke-borderLine;
            }
        }

        & > div {
            margin-left: -14px;
        }
        .price-tooltip .price {
            padding-top: 1px;
        }
        .apexcharts-graphical {
            transform: translate(25px, 31px) scale(1);
        }
    }
    .line-chart {
        margin-top: -16px;
        .apexcharts-grid-borders {
            line {
                @apply stroke-[1.5px] stroke-borderLine;
            }
        }

        .apexcharts-inner {
            margin-top: -16px;
            & > div {
                margin-left: -10px;
            }
            .price-tooltip .price {
                padding-top: 0px;
            }

            // hide first grid line in chart
            .apexcharts-gridlines-vertical
                > .apexcharts-gridline:nth-of-type(1) {
                display: none;
            }

            // hide last grid line in chart
            .apexcharts-gridlines-vertical
                > .apexcharts-gridline:nth-last-of-type(1) {
                display: none;
            }

            // hide x-axis first labels
            .apexcharts-xaxis-texts-g {
                .apexcharts-text.apexcharts-xaxis-label:nth-of-type(1) {
                    display: none;
                }
            }
            .apexcharts-xaxis-annotations > rect {
                stroke: #775dd0;
            }

            .apexcharts-point-annotation-marker {
                fill: rgba(173, 158, 224, 0.7);

                filter: drop-shadow(-1px -1px 0px rgba(119, 93, 208, 0.8))
                    drop-shadow(1px -1px 0px rgba(119, 93, 208, 0.8))
                    drop-shadow(-1px 1px 0px rgba(119, 93, 208, 0.8))
                    drop-shadow(1px 1px 0px rgba(119, 93, 208, 0.8));

                @apply stroke-[2px] stroke-background;
            }
        }
    }
}

.portfolio-widget {
    .donut-chart {
        div[type="donut"] {
            display: flex;
            width: 100%;
            transform: scale(0.9) !important;
        }

        .apexcharts-canvas {
            height: 200px !important;
            svg {
                width: 285px;
                height: 200px !important;
                margin-left: -10px;
                foreignObject {
                    height: 400px !important;
                }
            }
        }
        .apexcharts-legend {
            width: 122px !important;
            padding: 0px;
            left: -4px !important;
            top: 13px !important;
        }
        .apexcharts-graphical {
            height: 100px;
            transform: translate(160px, 41px);
        }

        .apexcharts-legend-series {
            margin: 4px 0 4px 4px !important;

            .apexcharts-legend-marker {
                width: 9px !important;
                height: 9px !important;
                margin-right: 4px;
                border-radius: 4px;
            }

            .apexcharts-legend-text {
                display: contents !important;
                span {
                    width: 100px !important;
                    div {
                        min-width: 72px;
                        @apply fontGroup-normal text-primaryVariant100;
                    }
                    div:nth-child(2) {
                        min-width: 30px;
                        text-align: right;
                        @apply fontGroup-highlightSemi text-primary;
                    }
                }
            }
        }
    }

    .sm-donut-chart {
        .apexcharts-canvas {
            width: 135px !important;
            svg {
                width: 185px !important;

                foreignObject {
                    visibility: hidden;
                }
            }
        }
        .apexcharts-graphical {
            transform: translate(30px, 41px);
        }
    }

    .sm-legend-wrap {
        display: flex;
        width: 100% !important;

        .apexcharts-legend-marker {
            width: 9px !important;
            height: 9px !important;
        }

        .apexcharts-legend {
            height: auto !important;
            width: 100% !important;
            position: relative !important;
            top: 0 !important;
            left: 0 !important;
            flex-direction: row !important;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 !important;

            .apexcharts-legend-series {
                width: 95px;
                min-width: 95px;
                flex-basis: 30%;
                transform: scale(0.9) !important;
            }
            .apexcharts-legend-text span {
                div {
                    @apply fontGroup-normal;
                }

                div:nth-child(2) {
                    @apply fontGroup-highlightSemi text-primary;
                }
            }
        }
    }
}

.custom-charts-widget {
    .barchart-styles {
        position: relative;
        svg {
            position: absolute;
            left: -5px;
            transform: translate(0px, 0px) scale(1.04);
        }

        .apexcharts-xcrosshairs.apexcharts-active {
            opacity: 0;
        }

        .apexcharts-xaxis-texts-g {
            transform: translate(0px, -5px) scale(1);
            tspan {
                fill: theme("colors.primaryVariant200");
            }
        }

        .apexcharts-inner.apexcharts-graphical {
            & > line {
                stroke: theme("colors.borderLine");
            }

            .apexcharts-gridlines-vertical {
                line {
                    stroke: theme("colors.borderLine");

                    // hide last grid line in chart because the datalabel is hidden by apexcarts
                    &:nth-last-of-type(1) {
                        display: none;
                    }
                }
            }

            // .apexcharts-xaxis-texts-g {
            // incase it's needed in the final chart
            // shift x-axis labels to the right so that the label is not hidden by the chart
            // transform: translate(10px, 0px);
            // }
        }

        .apexcharts-tooltip {
            border: none;
            box-shadow: none;
        }

        .apexcharts-grid-borders {
            line {
                stroke: theme("colors.borderLine");
            }
        }
    }
}
