/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
    /** primary **/
    --ion-color-primary: #f2f2f2;
    --ion-color-primary-rgb: 242, 242, 242;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #d5d5d5;
    --ion-color-primary-tint: #f3f3f3;

    /** secondary **/
    --ion-color-secondary: #849399;
    --ion-color-secondary-rgb: 132, 147, 153;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #748187;
    --ion-color-secondary-tint: #909ea3;

    /** tertiary **/
    --ion-color-tertiary: #477ff7;
    --ion-color-tertiary-rgb: 71, 127, 247;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #3e70d9;
    --ion-color-tertiary-tint: #598cf8;

    /** success **/
    --ion-color-success: #6dd230;
    --ion-color-success-rgb: 109, 210, 48;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #60b92a;
    --ion-color-success-tint: #7cd745;

    /** orange **/
    --ion-color-orange: #faa202;
    --ion-color-orange-rgb: 250, 162, 2;
    --ion-color-orange-contrast: #000000;
    --ion-color-orange-contrast-rgb: 0, 0, 0;
    --ion-color-orange-shade: #dc8f02;
    --ion-color-orange-tint: #fbab1b;

    /** danger **/
    --ion-color-danger: #f45532;
    --ion-color-danger-rgb: 244, 85, 50;
    --ion-color-danger-contrast: #000000;
    --ion-color-danger-contrast-rgb: 0, 0, 0;
    --ion-color-danger-shade: #d74b2c;
    --ion-color-danger-tint: #f56647;

    //** primary shades **/
    --alpha-primary: #f2f2f2;
    --alpha-primary-filtered: rgba(242, 242, 242, 0.5);
    --alpha-primary-100: #849399;
    --alpha-primary-200: #84899a;
    --alpha-primary-300: rgba(118, 124, 143, 0.2);

    --alpha-border: #3b3a3a;
    --alpha-backdrop: rgba(18, 18, 18, 0.6);

    /** alphaday background shades **/
    --alpha-dark-base: #121212;
    --alpha-base-100: #191919;
    --alpha-base-200: #242424; //hover
    --alpha-base-300: #2A2C33; //active
    --alpha-base-400: #393939; //active
    --alpha-base-filtered: rgba(0, 0, 0, 0.4); // backdrop

    /* secondary shades */
    --alpha-white: #ffffff;
    --alpha-light-blue: #477ff7;
    --alpha-light-blue-100: #5e8ff8;
    --alpha-dark-blue: #263964;
    --alpha-dark-blue-100: #2d4476;

    --alpha-red: #f45532;
    --alpha-green: #6dd230;
    --alpha-orange: #faa202;
    --alpha-orange-filtered: rgba(250, 162, 2, 0.9);
    --alpha-orange-50: #e1b74f;
    --alpha-orange-100: #ba7a02;
    --alpha-rose-brown: #c59592;
    --alpha-yellow-green: #b9e187;

    /* overrides */
    --fc-border-color: var(--alpha-border);

    /** when we style with css modules we want to use the same names 
      as when we use tailwind 
  **/
    --white: var(--alpha-white);
    --primary: var(--alpha-primary);
    --primaryFiltered: var(--alpha-primary-filtered);
    --primaryVariant100: var(--alpha-primary-100);
    --primaryVariant200: var(--alpha-primary-200);
    --primaryVariant300: var(--alpha-primary-300);
    --borderLine: var(--alpha-border);
    --background: var(--alpha-dark-base);
    --backgroundVariant100: var(--alpha-base-100);
    --backgroundVariant200: var(--alpha-base-200);
    --backgroundVariant300: var(--alpha-base-300);
    --backgroundVariant400: var(--alpha-base-400);
    --backgroundFiltered: var(--alpha-base-filtered);
    --backgroundBlue: var(--alpha-dark-blue);
    --backgroundBlue100: var(--alpha-dark-blue-100);
    --accentVariant100: var(--alpha-light-blue);
    --accentVariant200: var(--alpha-light-blue-100);
    --secondaryOrange: var(--alpha-orange);
    --secondaryOrange50: var(--alpha-orange-50);
    --secondaryOrange100: var(--alpha-orange-100);
    --secondaryOrangeFiltered: var(--alpha-orange-filtered);
    --secondaryRoseBrown: var(--alpha-rose-brown);
    --secondaryOrangeSoda: var(--alpha-red);
    --secondaryYellowGreen: var(--alpha-yellow-green);
    --success: var(--alpha-green);
}

/*
   * iOS Dark Theme
   * -------------------------------------------
   */

.ios body {
    --ion-background-color: var(--alpha-dark-base);
    --ion-background-color-rgb: 17, 18, 19;

    --ion-text-color: #f2f2f2;
    --ion-text-color-rgb: 194, 197, 214;

    --ion-color-step-50: #1a1b1d;
    --ion-color-step-100: #232427;
    --ion-color-step-150: #2c2d30;
    --ion-color-step-200: #34363a;
    --ion-color-step-250: #3d3f44;
    --ion-color-step-300: #46484e;
    --ion-color-step-350: #4f5157;
    --ion-color-step-400: #585a61;
    --ion-color-step-450: #61636b;
    --ion-color-step-500: #6a6c75;
    --ion-color-step-550: #72747e;
    --ion-color-step-600: #7b7d88;
    --ion-color-step-650: #848692;
    --ion-color-step-700: #8d8f9b;
    --ion-color-step-750: #9698a5;
    --ion-color-step-800: #9fa1af;
    --ion-color-step-850: #a7aab9;
    --ion-color-step-900: #b0b3c3;
    --ion-color-step-950: #b9bccc;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
}

.ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
}

/*
   * Material Design Dark Theme
   * -------------------------------------------
   */

.md body {
    --ion-background-color: var(--alpha-dark-base);
    --ion-background-color-rgb: 17, 18, 19;

    --ion-text-color: #f2f2f2;
    --ion-text-color-rgb: 194, 197, 214;

    --ion-color-step-50: #1a1b1d;
    --ion-color-step-100: #232427;
    --ion-color-step-150: #2c2d30;
    --ion-color-step-200: #34363a;
    --ion-color-step-250: #3d3f44;
    --ion-color-step-300: #46484e;
    --ion-color-step-350: #4f5157;
    --ion-color-step-400: #585a61;
    --ion-color-step-450: #61636b;
    --ion-color-step-500: #6a6c75;
    --ion-color-step-550: #72747e;
    --ion-color-step-600: #7b7d88;
    --ion-color-step-650: #848692;
    --ion-color-step-700: #8d8f9b;
    --ion-color-step-750: #9698a5;
    --ion-color-step-800: #9fa1af;
    --ion-color-step-850: #a7aab9;
    --ion-color-step-900: #b0b3c3;
    --ion-color-step-950: #b9bccc;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
}
