// file for all css styles not found in tailwind's library

/* custom css for charts */
@import "./charts.scss";

/* custom css for animations */
@import "./animation.scss";

/* custom css for calendar */
@import "./calendar.scss";

/* custom css for kasandra */
@import "./kasandra.scss";

@layer utilities {
    .break-word {
        word-break: break-word;
    }
    .overflow-wrap-anywhere {
        overflow-wrap: anywhere;
    }
}

/* App container styles */
.app-container,
.mobile-app {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
