// file for all css styles not found in tailwind's library

/* custom css for scrollbars */
@import "./scrollbar.scss";

/* custom css for charts */
@import "./charts.scss";

/* custom css for animations */
@import "./animation.scss";

@layer utilities {
    .break-word {
        word-break: break-word;
    }
    .one-liner {
        position: relative;
        text-overflow: ellipsis;
        overflow: hidden;
        text-overflow: elipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        -webkit-box-orient: vertical;
    }

    .three-liner {
        position: relative;
        text-overflow: ellipsis;
        overflow: hidden;
        text-overflow: elipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* trim after 3 lines*/
        -webkit-box-orient: vertical;
    }
}
