.gradient-background-bullish {
    background: linear-gradient(
        25deg,
        rgba(255, 255, 255, 0.0) 80%,
        rgba(109, 210, 48, 0.25) 100%
    );
}

.gradient-background-bearish {
    background: linear-gradient(
        25deg,
        rgba(255, 255, 255, 0.00) 80%,
        rgba(244, 85, 50, 0.3) 100%
    );
}

.gradient-background-neutral {
    background: linear-gradient(
        25deg,
        rgba(250, 162, 2, 0.00) 80%,
        rgba(250, 162, 2, 0.3) 100%
    );
}