.vector {
    stroke: var(--primary);

    path:nth-child(2) {
        stroke: var(--accentVariant100);
    }

    &:hover {
        stroke: var(--primaryVariant200);

        path:nth-child(2) {
            stroke: var(--accentVariant200);
        }
    }

    &:active {
        stroke: var(--primary);

        path:nth-child(2) {
            stroke: var(--accentVariant100);
        }
    }

    &.disabled {
        stroke: var(--background);

        path:nth-child(2) {
            stroke: var(--background);
        }
    }
}
