.button {
    outline: 0;
    transition:
        color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    &:hover,
    &:active,
    &:focus {
        outline: none;
    }
    border-color: var(--btnRingVariant100);
    color: var(--primary);
    background-color: var(--btnBackgroundVariant100);
    &:hover {
        background-color: var(--btnBackgroundVariant400);
    }
    &:active {
        background-color: var(--btnBackgroundVariant300);
    }
    &.alphaDialog {
        padding: 12px 55px;
    }
    &.disabled {
        color: var(--primaryVariant100);
        border-color: var(--btnRingVariant200);
        pointer-events: none;
    }
    @apply fontGroup-highlight;
}

.collapseButton {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;

    .expand-collapse-icon {
        font-size: 14px;
        width: 1em;
        height: 1em;
        position: relative;
        display: inline-block;
    }

    .expand-collapse-icon::before,
    .expand-collapse-icon::after {
        content: "";
        position: absolute;
        width: 1em;
        height: 0.16em;
        top: calc((1em / 2) - 0.08em);
        background-color: var(--primary);
        transition: 0.3s ease-in-out all;
        border-radius: 0.03em;
    }

    .expand-collapse-icon::before {
        transform: rotate(0deg);
    }

    .collapsed.expand-collapse-icon::before {
        transform: rotate(-90deg);
    }
}

.IconButton {
    outline: 0;
    background: transparent;
    transition:
        color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    &:hover,
    &:active,
    &:focus {
        outline: none;
    }

    &.info {
        svg {
            width: 13.93px;
            height: 13.93px;
            stroke: var(--primaryVariant100);
        }
        &:hover {
            svg {
                stroke: var(--primaryVariant800);
            }
        }
        &:active {
            svg {
                stroke: var(--primaryVariant900);
            }
        }
    }
    &.close {
        svg {
            width: 24px;
            height: 24px;
            stroke: var(--primaryVariant100);
        }
        &:hover {
            svg {
                stroke: var(--primaryVariant800);
            }
        }
        &:active {
            svg {
                stroke: var(--primaryVariant1000);
            }
        }
    }
    &.closeWithBg {
        background: var(--btnBackgroundVariant100);
        border: 1px solid var(--btnRingVariant300);
        border-radius: 100px;
        padding: 8px;
        svg {
            width: 8.4px;
            height: 8.4px;
            stroke: var(--primaryVariant100);
        }
        &:hover {
            background: var(--btnBackgroundVariant1000);
        }
        &:active {
            background: var(--btnBackgroundVariant700);
            border: 1px solid var(--btnRingVariant500);
        }
    }
    &.notification {
        background: var(--btnBackgroundVariant100);
        border: 1px solid var(--btnRingVariant300);
        border-radius: 100px;
        padding: 8px;
        svg {
            width: 16px;
            height: 18px;
            fill: var(--white);
        }
        &:hover {
            background: var(--btnBackgroundVariant1000);
        }
        &:active {
            background: var(--btnBackgroundVariant700);
            border: 1px solid var(--btnRingVariant500);
        }
    }
    &.profile {
        background: var(--btnBackgroundVariant100);
        border: 1px solid var(--btnRingVariant300);
        border-radius: 100px;
        padding: 7.5px;
        svg {
            width: 16px;
            height: 18px;
            fill: var(--white);
        }
        &:hover {
            background: var(--btnBackgroundVariant1000);
        }
        &:active {
            background: var(--btnBackgroundVariant700);
            border: 1px solid var(--btnRingVariant500);
        }
    }
    &.trash {
        position: relative;
        background: var(--btnBackgroundVariant100);
        border: 1px solid var(--btnRingVariant300);
        border-radius: 100px;
        padding: 20.59px;
        transition: all 0.2s ease-in-out;

        .text {
            opacity: 0;
        }
        svg {
            opacity: 1;
            position: absolute;
            width: 28.82px;
            height: 28.82px;
            stroke: var(--primaryVariant100);
        }
        &:hover {
            background: var(--btnBackgroundVariant1000);
            .text {
                opacity: 1;
            }
            svg {
                opacity: 0;
            }
        }
    }
    &.star {
        svg {
            width: 18.84px;
            height: 18px;
            fill: var(--primaryVariant100);
        }
        &:hover {
            svg {
                fill: var(--btnRingVariant100);
            }
        }
        &:active {
            svg {
                fill: var(--btnBackgroundVariant1400);
            }
        }
    }
    &.leftArrow, &.rightArrow {
        background: var(--backgroundVariant1200);
        border: 1px solid var(--btnRingVariant300);
        border-radius: 100px;
        padding: 6.5px;
        svg {
            width: 18px;
            height: 18px;
            stroke: var(--primary);
        }
        &:hover {
            background: var(--btnBackgroundVariant1000);
        }
        &:active {
            background: var(--btnBackgroundVariant700);
            border: 1px solid var(--btnRingVariant500);
        }
    }
    &.disabled {
        opacity: 0.2;
    }
}

.tabsButtonBase {
    outline: 0;
    transition:
        color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;

    .tabButton {
        fill: var(--primary);
        margin-right: 6px;
        width: 10px;
        height: 10px;
        align-self: center;
    }

    .close {
        align-self: center;
        margin-left: 3.5px;
        width: 7px;
    }

    &:hover,
    &:active,
    &:focus {
        outline: none;
    }
}

.tabsButtonTransparent {
    .close {
        padding-right: 7px;
        width: 13.5px;
        cursor: pointer;
    }
}

.tabsButtonRemovable {
    .close {
        padding-left: 3px;
        padding-right: 9px;
        width: 18.5px;
        cursor: pointer;
    }
}

.tabsButtonDisabled {
    color: var(--primaryVariant300);
    pointer-events: none;
    .tabButton {
        fill: var(--primaryVariant300);
        stroke: var(--primaryVariant300);
    }
}

.tabsButtonOpen {
    &.small {
        color: var(--primary);
        border-color: var(--btnBackgroundVariant1400);
        background-color: var(--btnBackgroundVariant1500);
    }
    &.extraSmall {
        border-color: var(--btnBackgroundVariant1400);
        background-color: var(--btnBackgroundVariant1500);
    }
    .tabButton {
        fill: var(--primary);
        stroke: var(--primary);
        pointer-events: auto;
    }
}
