.fontGroup-major {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0px;
}
.fontGroup-highlight {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.5px;
}
.fontGroup-highlightSemi {
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.5px;
}
.fontGroup-normal {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.2px;
}
.fontGroup-support {
    font-size: 10px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}
.fontGroup-supportBold {
    font-size: 10px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.2px;
}
.fontGroup-mini {
    font-size: 10px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.2px;
    text-transform: none;
}

/* file for font groups */
/* TODO remove all instances where the fontsGroups are used without tailwind */

@layer utilities {
    .fontGroup-major {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1;
        letter-spacing: 0px;
    }
    .fontGroup-highlight {
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 0.5px;
    }
    .fontGroup-highlightSemi {
        font-size: 0.75rem;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: 0.5px;
    }
    .fontGroup-normal {
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.2px;
    }
    .fontGroup-support {
        font-size: 10px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.2px;
        text-transform: uppercase;
    }
    .fontGroup-supportBold {
        font-size: 10px;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: 0.2px;
    }
    .fontGroup-mini {
        font-size: 10px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.2px;
        text-transform: none;
    }
}
