.label {
    input:checked + .slider:before {
        -webkit-transform: translateX(61px);
        -ms-transform: translateX(61px);
        transform: translateX(61px);
    }
}

.disabled {
        @apply text-primaryVariant300 pointer-events-none;
        input:not(:checked) + .slider {
            .option1 {
                @apply bg-primaryVariant300;
            }
        }

        input:checked + .slider {
            .option2 {
                @apply bg-primaryVariant300;
            }
        }
    }
