@value fontGroup-highlight from "../../globalStyles/fontGroups.scss";

.alphaButton {
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  line-height: 1.5;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:hover,
  &:active,
  &:focus {
    outline: none;
  }

  composes: fontGroup-highlight;
  width: max-content;
  height: 34px;
  padding: 4px 15px 7px 15px;
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--btnRingVariant100);
  color: var(--primary);
  background-color: var(--btnBackgroundVariant100);
  &:hover {
    background-color: var(--btnBackgroundVariant400);
  }
  &:active {
    background-color: var(--btnBackgroundVariant300);
  }
  &.alphaDialog {
    padding: 12px 55px;
  }

  &.primaryXL {
    height: 54px;
    border: 2px solid;
    padding: 16px 25px;
    border-color: var(--btnRingVariant200);
    box-sizing: border-box;
    &:hover {
      border-color: var(--btnRingVariant100);
    }
    &:active {
      background-color: var(--btnBackgroundVariant700);
    }
  }
  &.secondaryXL {
    height: 54px;
    padding: 16px 25px;
    box-sizing: border-box;
    border-color: var(--btnRingVariant300);
    &:active {
      background-color: var(--btnBackgroundVariant700);
    }
  }
  .secondary {
    border-color: var(--btnRingVariant300);
  }
  &.small {
    height: 29px;
    padding: 2px 20px 3px 20px;
    background-color: var(--btnBackgroundVariant200);
    border-color: var(--btnRingVariant300);
    &:hover {
      background-color: var(--btnBackgroundVariant500);
    }
    &:active {
      background-color: var(--btnBackgroundVariant800);
    }
  }
  &.extraSmall {
    height: 26px;

    padding: 4px 12px 5px 12px;
    color: var(--primaryVariant100);
    background-color: var(--btnBackgroundVariant300);
    border-color: var(--primaryVariant200);
    &:hover {
      background-color: var(--btnBackgroundVariant600);
    }
    &:active {
      background-color: var(--btnBackgroundVariant900);
    }
  }

  &.disabled {
    color: var(--primaryVariant100);
    border-color: var(--btnRingVariant200);
    pointer-events: none;
  }
}


