.uniswap-widget {
    position: relative;
    & > div {
        margin: auto;
        box-shadow: none;
    }
    .subhead {
        text-transform: uppercase;
        font-weight: theme("fontWeight.bold");
        line-height: theme("lineHeight.3");
        @apply fontGroup-supportBold;
    }
    [class*="WidgetWrapper__StyledWidgetWrapper"],
    [class*="TokenSelect__SearchInputContainer"] {
        background-color: theme("colors.background");
        border-color: transparent;
        border-radius: theme("borderRadius.lg");
        box-shadow: none;
        padding-top: 0;
        @apply fontGroup-normal;
        *:not(.subhead):not(input) {
            &:before {
                border-color: theme("colors.borderLine");
            }
            @apply fontGroup-normal;
            border-color: theme("colors.borderLine");
        }
    }
    [class*="Button__BaseButton"] {
        border-radius: theme("borderRadius.lg");
        background-color: theme("colors.backgroundBlue");
        font-weight: bold;
        color: theme("colors.primary");
        box-shadow: none;

        *:hover {
            background-color: inherit !important;
        }
    }
    [class*="Button__BaseButton"]:hover:not([disabled]):not(
            [class*="transparentButton"]
        ):not([class*="Custom"]):not([class*="TokenOptions__TokenButton"]) {
        background-color: theme("colors.backgroundVariant300");
    }
    [class*="transparentButton"],
    [class*="transparentButton"]:hover {
        background-color: transparent;
    }
    [class*="Button__transparentButton"] {
        background-color: transparent;
        font-weight: theme("fontWeight.bold");
    }
    [class*="Input__InputColumn"] {
        border-radius: theme("borderRadius.lg");
        background-color: theme("colors.background");
    }

    /** Styles for the token input */
    [class*="TokenOptions__TokenButton"] {
        border-radius: theme("borderRadius.sm");
        background-color: theme("colors.background");
    }
    [class*="TokenOptions__TokenButton"]:hover {
        background-color: theme("colors.borderLine") !important;
    }
    [class*="TokenInput"] {
        color: theme("colors.primaryVariant100");
        * {
            @apply fontGroup-highlightSemi;
        }
    }
    [class*="ValueInput"] {
        @apply fontGroup-major;
    }
    [class*="TokenSelect__SearchInputContainer"] {
        border-radius: theme("borderRadius.lg");
        * {
            background-color: theme("colors.background");
            border-color: transparent;
        }
    }
    [class*="ReverseButton__Underlayer"] {
        background-color: theme("colors.background");
        [class*="ReverseButton"] {
            border-color: theme("colors.background");
            background-color: theme("colors.backgroundVariant200");
        }
    }
    [class*="Input__Balance"] {
        font-weight: theme("fontWeight.normal");
    }
    [class*="type__TextWrapper"] {
        color: theme("colors.primary");
        *:hover,
        *:focus {
            border-color: transparent;
        }
    }
    [class*="type__TextWrapper"]:hover {
        background-color: inherit !important;
    }
    [class*="type__TextWrapper"].button {
        color: theme("colors.primary");
        font-weight: theme("fontWeight.semibold");
        display: flex;
        align-items: center;
        justify-content: center;
    }
    [class*="ActionButton"] {
        [class*="type__TextWrapper"].button {
            font-weight: bold;
        }
    }
    [class*="icons__LargeWrapper"] > svg {
        color: theme("colors.primary");
    }
    [class*="TokenOptions__OnHover"] {
        display: none;
    }

    /** Styles for the settings */
    [class*="Popover__PopoverContainer"] {
        background-color: theme("colors.background");
        border-color: theme("colors.borderLine");
        border-width: 0;
        border-top-width: 1px;
        width: 100%;
        height: 100%;
        max-height: 88%;
        [class*="SettingsColumn"] {
            [class*="Popover__PopoverContainer"] {
                height: fit-content;
            }
        }
    }
    [class*="Header__HeaderRow"]
        > div
        > div
        > [class*="Popover__PopoverContainer"] {
        top: 50px;
        right: 50px;
        bottom: 50px;
        left: 50px;
        transform: none;

        [class*="Tooltip__IconTooltip"] {
            align-self: start;
            svg {
                width: theme("spacing.3");
            }
        }

        [class*="Expando__ExpandoColumn"][open] {
            max-height: theme("spacing.20");

            [class*="Expando__InnerColumn"] {
                max-height: theme("spacing.20");
            }
        }

        [class*="Expando__IconPrefix"] {
            font-weight: bold;
        }

        [class*="Input-sc"] {
            font-weight: normal;
            padding: 0;
            border-radius: theme("borderRadius.lg");
            background-color: theme("colors.background");
            margin-right: theme("spacing.1");
            & + div {
                padding-right: theme("spacing.4");
                display: flex;
            }
        }

        [class*="MaxSlippageSelect__Custom"] {
            border-radius: theme("borderRadius.lg");
            background-color: theme("colors.background");
            padding-right: theme("spacing.2");
        }

        [class*="TransactionTtlInput__Input-sc"] {
            padding: theme("spacing.3");
            border-radius: theme("borderRadius.lg");
            input:active {
                border-color: transparent !important;
            }
        }
    }

    /* * Toolbar that show details of your transaction above the large button */
    [class*="Toolbar__StyledExpando"] {
        font-weight: theme("fontWeight.semibold");

        [class*="Popover__Reference"] {
            font-weight: normal;
        }
        [class*="type__TextWrapper-sc"] {
            font-weight: normal;
        }
    }

    /**  Styles for selecting tokens  */
    [class*="CommonBases__BasesContainer"] {
        font-weight: normal;
        [class*="CommonBases__BaseWrapper"] {
            border-radius: theme("borderRadius.lg");
            background-color: theme("colors.background");
            border-color: theme("colors.backgroundBlue");
        }
    }

    /**  Styles for Review Swap */
    [class*="Details__Label"] {
        font-weight: theme("fontWeight.semibold");
    }

    [class*="headline"] {
        font-weight: theme("fontWeight.bold");
        line-height: theme("lineHeight.7");
    }
    [class*="body"] {
        font-weight: normal;
    }
    [class*="Row-sc-1nzvhrh-0"] > div.Row-sc-1nzvhrh-0 {
        align-self: center;
    }

    /** Swap success & error */
    [class*="Dialog__Modal"] {
        background-color: theme("colors.background");
    }

    /** Swap warning */
    [class*="ErrorView__ExpandoContent"] {
        @apply fontGroup-supportBold;
    }

    /** Connect Wallet Dialog buttons */
    [class*="ConnectWalletDialog"] {
        [class*="Button__BaseButton"] {
            background-color: theme("colors.background");
        }
        [class*="Button__BaseButton"]:hover {
            background-color: theme("colors.background") !important;
        }
    }

    input {
        height: 20px;
        border: none !important;
    }
}
